.masthead {
  height: 100vh;
  animation: header-anim-head 4s 2s both;
}
/* .masthead:hover  .header-title{
  animation: neon 2s ease-in-out both;
} */
.header-title-k, .header-title-k2 {
  display: inline-block;
  padding-bottom: 25px;
}
.header-title-k:first-child {
  animation: header-anim1 4s both;
}
.header-title-k2 {
  animation: header-anim2 4s both;
}
.container-k {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
.modal-dialog-k {
    padding: 0;
    padding: 0;
  }
  .section-port-k {
    background-image: url("../img/svg-bcg-01.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .portfolio-image-k {
    width: 20%;
    min-width: 250px;
    height: 250px;
    cursor: pointer;
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(85, 83, 83, 0.5);
    border-radius: 10px;
    background-color:  rgb(8, 160, 248);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fas-k {
    font-size: 4rem;
    color: white;
    transition: transform 500ms ease-in-out;
  }
  .cv-section-k {
    background-image: url("../img/svg-bcg-01.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .port-title-k {
    position: absolute;
    top: 25px;
    left: -150px;
    width: 60%;
    height: 35px;
    /* border-radius: 5px; */
    background-color: rgba(8, 160, 248, 0.8);
    transition: transform 1000ms ease-out;
    border-bottom: 2px solid white;
    z-index: 5;

  }
  .port-title-cont-k {
    color: white;
    padding-left: 1rem;
    padding-top: 0.10rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
    transition: transform 750ms ease-out;
    transition-delay: 750ms;
    
  }
  .portfolio-image-k:hover .fas-k {
    transform: scale(1.2);
  }
  .portfolio-image-k:hover  .port-title-k {
    transform: translateX(145px);
  }
  .portfolio-image-k:hover  .port-title-cont-k {
    transform: translateX(10px);
  }
  .carousel-indicators li img {
    width: 150px;
  }
  .prev-icon-k, .next-icon-k {
    color: #6d6c6b;
    font-size: 2rem;
  }
  .close-gall-k {
    cursor: pointer;
    font-size: 2rem;
    transition: 500ms;
    color: #6d6c6b;
  }
  .close-gall-k:hover {
    color: black;
  }
  .carousel-k {
    position: relative;
  }
  .carousel-indicators-k {
    position: absolute;
    bottom: -50px;
  }
  .carousel-indicators li {
    width: 10%;
  }

  .cv-items {
    color: rgb(8, 160, 248);
  }
/* CV */
.card-body {
  border: none;
  padding: 0;
}
.container-cv-k {
  margin: 0 auto;
  width: 80% !important;
}
/* .cv-conent-k {
  color: red;
  list-style: none;
} */
.read-more-k {
  color: rgb(8, 160, 248);
  text-align: right;
  display: block;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;

}
.read-more-k:hover {
  color: black;
}

.timeline > li .timeline-panel {
  text-align: left;
}
/* collapse snipp */
  .read-more-k-off:before {
    content: "Close";
    float: right !important;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
  .read-more-k-off.collapsed:before {
    content: "Read more";
  }
  .timeline > li .timeline-image {
    background-color: rgb(8, 160, 248);
    /* cursor: pointer; */
  }
  .timeline-image-download {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .download {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0px;
  }
  .footer-k {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 10;
  }
  .contact-k {
    min-width: 250px;
    /* height: 150px; */
  }
  .contact-k p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
  }
  .fa-phone-alt, .fa-envelope {
    padding-right: 25px;
  }
  a {
    color: white;
  }
  .rounded-circle-k {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rounded-circle-k .fas {
    font-size: 2rem;
  }
  .cv-icons-k {
    font-size: 2rem;
  }
  @keyframes header-anim-head {
    0%   {
      transform: scale(1);
     
    }
    100% {
      transform: scale(1.05);
      
    }
  }
  /* @keyframes header-anim-head-scale {
    0%   {
      
      transform: translateX(0px);
    }
    100% {
      
      transform: translateX(10px);
    }
  } */
/*  
  @keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
} */

@keyframes header-anim1 {
  0%   {transform: translateX(0px);}
  100% {transform: translateX(-150px);}
}
@keyframes header-anim2 {
  0%   {transform: translateX(0px);}
  100% {transform: translateX(100px);}
}

  @media (max-width: 768px) {
    .masthead {
      height: 55vh;
    }
    .contact-k p  {
      font-size: 1.5rem;
    }
    .port-title-k {
      left: -5px;
    }
    .portfolio-image-k:hover  .port-title-k {
      transform: translateX(0);
    }
    .portfolio-image-k:hover  .port-title-cont-k {
      transform: translateX(0);
  }
  .header-title-k, .header-title-k2 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  @keyframes header-anim1 {
    0%   {transform: translateX(0px);}
    100% {transform: translateX(-50px);}
  }
  @keyframes header-anim2 {
    0%   {transform: translateX(0px);}
    100% {transform: translateX(50px);}
  }
}

#header-txt path:nth-child(1) {
  stroke-dasharray: 236.65542602539062;
  stroke-dashoffset: 236.65542602539062;
  animation: line-anim 1s forwards 4s, fill 500ms forwards 6.2s;
}
#header-txt path:nth-child(2) {
  stroke-dasharray: 268.47674560546875;
  stroke-dashoffset: 268.47674560546875;
  animation: line-anim 1s forwards 4.3s, fill 500ms forwards 6.4s;
}
#header-txt path:nth-child(3) {
  stroke-dasharray: 258.89202880859375;
  stroke-dashoffset: 258.89202880859375;
  animation: line-anim 1s forwards 4.6s, fill 500ms forwards 6.6s;
}
#header-txt path:nth-child(4) {
  stroke-dasharray: 235.41439819335938;
  stroke-dashoffset: 235.41439819335938;
  animation: line-anim 1s forwards 4.9s, fill 500ms forwards 6.8s;
}
#header-txt path:nth-child(5) {
  stroke-dasharray: 185.76797485351562;
  stroke-dashoffset: 185.76797485351562;
  animation: line-anim 1s forwards 5.5s, fill 500ms forwards 7s;
}
#header-txt path:nth-child(6) {
  stroke-dasharray: 123.47000122070312;
  stroke-dashoffset: 123.47000122070312;
  animation: line-anim 1s forwards 5.5s, fill 500ms forwards 7.2s;
}
#header-txt path:nth-child(7) {
  stroke-dasharray: 223.22715759277344;
  stroke-dashoffset: 223.22715759277344;
  animation: line-anim 1s forwards 5.8s, fill 500ms forwards 7.4s;
}
#header-txt path:nth-child(8) {
  stroke-dasharray: 258.89199829101564;
  stroke-dashoffset: 258.8919982910156;
  animation: line-anim 1s forwards 6.1s, fill 500ms forwards 7.8s;
}



